/* sets page background color */
body {
  background-color: orchid;
}

/* sets attributes of generated color section */
.color-container {
  background-color: orchid;
  display: inline-block;
  vertical-align: middle;
  height: 150px;
  width: 150px;
}

/* sets font size of h5 tags to small and positions them relative center */
h5 {
  font-size: small;
  text-align: center;
}

/* makes the heart click tip italic */
#heart-click {
  font-style: italic;
}
.save:disabled {
  color: red;
}

/* sets font size and alignment of color name text */
#color {
  font-size: medium;
  text-align: center;
  width: 150px;
}

/* aligns h1 tags center and sets visual attributes for distinguishment */
h1 {
  text-align: center;
  box-shadow: 0 3px 5px black;
  border-radius: 20px;
  margin: 20px;
  background-color: antiquewhite;
  font-weight: bold;
}

/* aligns h6 tags center with thin black border */
h6 {
  text-align: center;
  border-color: 1 px solid black;
}

/* sets display properties, width, and alignment of grid columns */
.column {
  display: inline-block;
  max-width: 100%;
  text-align: center;
}

/* sets font size, weight, and alignment of track text */
.track {
  text-align: center;
  font-weight: bold;
  font-size: medium;
}

/* sets alignment of color element to center */
.color {
  text-align: center;
  justify-content: center;
  align-items: center;
}

/* gives buttons "flex" property */
button {
  display: flex;
}

/* creates grid for results/saved songs and colors */
.grid-container {
  display: grid;
  flex: auto;
  grid-template-columns: auto auto auto auto;
  grid-auto-rows: minmax(100px, auto);
  gap: 10px;
  float: right;
  background-color:antiquewhite;
  padding: 20px;
  text-align: right;
  border-radius: 5px;
  margin: 30px;
  box-shadow: 0 3px 5px black;
  grid-column-gap: 150px;
}

/* sets grid containers to "flex" property and sets font attributes */
.grid-container > div {
  flex-wrap: wrap;
  flex: auto;
  text-align: center;
  font-size: 10px;
  color: black;
}

input {
  display: flex;
}


#results {
  display: block;
  text-align: center;
  background: -moz-radial-gradient(antiquewhite);
  background-color: antiquewhite;
  margin: 30px;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 3px 5px;
  font-weight: bold;

}

/* sets playlist text and background attributes */
#playlists {
  display: block;
  text-align: center;
  background: -moz-radial-gradient(antiquewhite);
  background-color: antiquewhite;
  margin: 30px;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 3px 5px;
  font-weight: bold;
}

/* sets width and flexibility of results container grid */
#results-container {
  flex-wrap: wrap;
  width: 60%;
  position: absolute;
  right: 0;
}

/* gives generate button a background color, and sets display/position attributes */
#generate-color {
  background-image: linear-gradient(-45deg,purple, yellow, orchid);
  display: flex;
  border: solid;
  border-color: black;
  padding: 10px;
  border-width: 3px;
  margin: 10px;
  float: left;
  font-size: 40px;
  font-style: italic;
}

/*changes color of heart button when cursor hovers over it */
.save:hover {
  background-color: orchid;
}

/* sets attributes of application tagline (under title) */
#lead {
  text-align: center;
  font-size: 30px;
  font-style: italic;
  margin: 10px;
  padding: 50px;
}

/* sets attributes of application directions */
#info-text {
  display: block;
  max-width: 20%;
  padding: 10px;
  background-color: antiquewhite;
  border-radius: 5px;
  margin: 10px;
  box-shadow: 0 3px 5px;
  float: left;
}

/*sets uniform font size for h4 and h5 tags*/
h4, h5 {
  font-size: 20px;
}


/*saved song container not displayed until toggled by corresponding button*/
#saved-playlist-container {
  width: 60%;
  position: absolute;
  right: 0;
  display: none;
  flex-wrap: wrap;
}

/*button appears when "show saved" button is clicked to provide option to go back to results*/
#hide-playlists {
  background-image: linear-gradient(-45deg,purple, yellow, orchid);
  display: none;
  border: solid;
  padding: 10px;
  margin: 10px;
  font-size: 40px;
  font-style: italic;
}

/*displayed by default, replaced with "hide saved" button when "show saved" is clicked*/
#saved-playlists {
  background-image: linear-gradient(-45deg,purple, yellow, orchid);
  display: block;
  border: solid;
  padding: 10px;
  margin: 10px;
  font-size: 40px;
  font-style: italic;
}
.save {
  font-size: 25px;
  width: 100%;
  justify-content: center;
  background-color: antiquewhite;
}

/* below sections allow webpage to be responsive to different screen sizes */

/*grid drops to 3 columns and button font size decreases when screen size is less than 1240 pixels*/
@media screen and (max-width: 1240px) {
  #hide-playlists {
    background-image: linear-gradient(-45deg,purple, yellow, orchid);
    display: none;
    border: solid;
    padding: 10px;
    margin: 10px;
    font-size: 20px;
    font-style: italic;
  }
  
  #saved-playlists {
    background-image: linear-gradient(-45deg,purple, yellow, orchid);
    display: block;
    border: solid;
    padding: 10px;
    margin: 10px;
    font-size: 20px;
    font-style: italic;
  }

  #generate-color {
    background-image: linear-gradient(-45deg,purple, yellow, orchid);
    display: flex;
    border: solid;
    border-color: black;
    padding: 10px;
    border-width: 3px;
    margin: 10px;
    float: left;
    font-size: 20px;
    font-style: italic;
  }

  .grid-container {
    display: grid;
    flex: auto;
    grid-template-columns: auto auto auto;
    grid-auto-rows: minmax(100px, auto);
    gap: 10px;
    float: right;
    background-color:antiquewhite;
    padding: 20px;
    text-align: right;
    border-radius: 5px;
    margin: 30px;
    box-shadow: 0 3px 5px black;
    grid-column-gap: 100px;
  }
}

/*grid drops to 2 columns and button font size decreases again when screen size is less than 956 pixels*/
@media screen and (max-width: 956px) {
  .grid-container {
    display: grid;
    flex: auto;
    grid-template-columns: auto auto;
    grid-auto-rows: minmax(100px, auto);
    gap: 10px;
    float: right;
    background-color:antiquewhite;
    padding: 20px;
    text-align: right;
    border-radius: 5px;
    margin: 30px;
    box-shadow: 0 3px 5px black;
    grid-column-gap: 100px;
  }
}

/*grid drops to 1 column and button font size decreases even more when screen size is less than 613 pixels*/
@media screen and (max-width: 613px) {
  .grid-container {
    display: grid;
    flex: auto;
    grid-template-columns: auto;
    grid-auto-rows: minmax(100px, auto);
    gap: 10px;
    float: right;
    background-color:antiquewhite;
    padding: 20px;
    text-align: right;
    border-radius: 5px;
    margin: 30px;
    box-shadow: 0 3px 5px black;
    grid-column-gap: 100px;
  }

  #hide-playlists {
    background-image: linear-gradient(-45deg,purple, yellow, orchid);
    display: none;
    border: solid;
    padding: 10px;
    margin: 10px;
    font-size: 10px;
    font-style: italic;
  }
  
  #saved-playlists {
    background-image: linear-gradient(-45deg,purple, yellow, orchid);
    display: block;
    border: solid;
    padding: 10px;
    margin: 10px;
    font-size: 10px;
    font-style: italic;
  }

  #generate-color {
    background-image: linear-gradient(-45deg,purple, yellow, orchid);
    display: flex;
    border: solid;
    border-color: black;
    padding: 10px;
    border-width: 3px;
    margin: 10px;
    float: left;
    font-size: 10px;
    font-style: italic;
  }
}