body {
  background-color: orchid;
}
.thumbnail {
  border: 4px solid #fefefe;
    box-shadow: 0 0 0 1px rgb(10 10 10 / 20%);
    line-height: 0;
    max-width: 100%;
    transition: box-shadow .2s ease-out;
    border-radius: 0;
    position: relative;
}
.color-container {
  background-color: orchid;
  display: inline-block;
  vertical-align: middle;
  height: 150px;
  width: 150px;
}

h5 {
  font-size: small;
  text-align: center;
}

#color {
  font-size: medium;
  text-align: center;
  width: 150px;
}

h1 {
  text-align: center;
  box-shadow: 0 3px 5px black;
  border-radius: 20px;
  margin: 20px;
  background-color: antiquewhite;
  font-weight: bold;
}

h6 {
  text-align: center;
  border-color: 1 px solid black;
}


.column {
  display: inline-block;
  max-width: 100%;
}

.track {
  text-align: center;
  font-weight: bold;
  font-size: medium;
}

.color {
  text-align: center;
}

button {
  display: flex;
}

#pick-genre {
 position: relative;
}
.grid-container {
  display: flex;
  flex-wrap: wrap;
  grid-template-columns: auto auto auto auto;
  grid-auto-rows: minmax(100px, auto);
  gap: 10px;
  float: right;
  background-color:antiquewhite;
  padding: 20px;
  text-align: right;
  border-radius: 5px;
  margin: 30px;
  box-shadow: 0 3px 5px black;
  grid-column-gap: 100px;
}

.grid-container > div {
  text-align: right;
  font-size: 10px;
  color: black;
}

input {
  display: flex;
}
#results {
  display: block;
  flex-wrap: wrap;
  text-align: center;
  background: -moz-radial-gradient(antiquewhite);
  background-color: antiquewhite;
  margin: 30px;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 3px 5px;
  font-weight: bold;

}

#playlists {
  display: block;
  text-align: center;
  background: -moz-radial-gradient(antiquewhite);
  background-color: antiquewhite;
  margin: 30px;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 3px 5px;
  font-weight: bold;
}

#results-container {
  flex-wrap: wrap;
  width: 60%;
  position: absolute;
  right: 0;
}

#generate-color {
  background-image: linear-gradient(-45deg,purple, yellow, orchid);
  display: flex;
  border: solid;
  border-color: black;
  padding: 10px;
  border-width: 3px;
  margin: 10px;
  float: left;
  font-size: 40px;
  font-style: italic;
}

.save:hover {
  background-color: orchid;
}

#lead {
  text-align: center;
  font-size: 30px;
  font-style: italic;
  margin: 10px;
  padding: 50px;
}
#info-text {
  display: block;
  max-width: 20%;
  padding: 10px;
  background-color: antiquewhite;
  border-radius: 5px;
  margin: 10px;
  box-shadow: 0 3px 5px;
float: left;
}

h4, h5 {
  font-size: 20px;
}


#saved-playlist-container {
  width: 60%;
  position: absolute;
  right: 0;
  display: none;
}

#hide-playlists {
  background-image: linear-gradient(-45deg,purple, yellow, orchid);
  display: none;
  border: solid;
  padding: 10px;
  margin: 10px;
  font-size: 40px;
  font-style: italic;
}

#saved-playlists {
  background-image: linear-gradient(-45deg,purple, yellow, orchid);
  display: flex;
  flex-wrap: wrap;
  border: solid;
  padding: 10px;
  margin: 10px;
  font-size: 40px;
  font-style: italic;
}
.save {
  font-size: large;
  width: 50%;
  align-items: center;
  background-color: antiquewhite;
}

@media screen and (max-width: 1200px) {
  #saved-playlists {
    background-image: linear-gradient(-45deg,purple, yellow, orchid);
    display: flex;
    flex-wrap: wrap;
    border: solid;
    padding: 10px;
    margin: 10px;
    font-size: 20px;
    font-style: italic;
  }

  #hide-playlists {
    background-image: linear-gradient(-45deg,purple, yellow, orchid);
    display: none;
    border: solid;
    padding: 10px;
    margin: 10px;
    font-size: 20px;
    font-style: italic;
  }

  #generate-color {
    background-image: linear-gradient(-45deg,purple, yellow, orchid);
    display: flex;
    border: solid;
    border-color: black;
    padding: 10px;
    border-width: 3px;
    margin: 10px;
    float: left;
    font-size: 20px;
    font-style: italic;
  }
}

@media screen and (max-width: 728px) {
  #saved-playlists {
    background-image: linear-gradient(-45deg,purple, yellow, orchid);
    display: flex;
    flex-wrap: wrap;
    border: solid;
    padding: 10px;
    margin: 10px;
    font-size: 10px;
    font-style: italic;
  }

  #hide-playlists {
    background-image: linear-gradient(-45deg,purple, yellow, orchid);
    display: none;
    border: solid;
    padding: 10px;
    margin: 10px;
    font-size: 10px;
    font-style: italic;
  }

  #generate-color {
    background-image: linear-gradient(-45deg,purple, yellow, orchid);
    display: flex;
    border: solid;
    border-color: black;
    padding: 10px;
    border-width: 3px;
    margin: 10px;
    float: left;
    font-size: 10px;
    font-style: italic;
  }
}